#menu {
    display: flex;
    flex-direction: row;
}

#menu-toggle {
    display: none;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
figure {
    margin: 1rem 0;
}
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}}